<% if params[:controller] == 'about' %>
    <div class="well">
        <h4>Location Info</h4>
        <ul>
            <li>The Bookstore</li>
            <li>New York, Yerevan</li>
            <li>Phone: +37493775960</li>
            <li>Email: margaryan.mher.28@gmail.com</li>
        </ul>
    </div>
<% elsif params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <span class="badge"><%= category.books.count %></span>
      <%= link_to category.name, category_path(category) %>
    </li>
  <% end %>
</ul>
<% end %>
