<div id="books-index">
    <% @books.each_slice(4) do |book| %>
        <div class="row">
            <% book.each do |singleBook| %>
                <div class="col-md-3 col-sm-3">
                    <h3><%= singleBook.title %></h3>
                    <%= image_tag(singleBook.coverpath) %>
                    <%= link_to 'Read More', book_path(singleBook), class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
